html, body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  width: 100%; /* Make page take up whole visible space */
  height: 100%; /* Make page take up whole visible space */
}

.container {
  display: flex;
  color: white; /* Text color */
  height: 100%; /* Make container take up whole visible space */
}

.container-slider {
  display: flex;
  width: 100%; /* Make container take up whole visible space */
  align-items: center
}

.toolbar-slider {
  display: flex;
  align-items: center
}

.container-slider > label {
	width: 20%;
}

.container-slider > input {
	width: 60%;
}

.left, .center, .right {
  box-sizing: border-box; /* Include padding in panel width */
  height: 100%; /* Make panels take up whole visible space */
}

.left, .right {
  padding: 20px; /* Padding for panels */
  width: 20%;
  background-color: #444; /* Even darker background color for left panel */
  z-index: 1; /* Bring left and right panels to the front */
}

.left {
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.3); /* Add box shadow */
}

.right {
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.3); /* Add box shadow */
}

.center {
  background-color: #555; /* Darker background color for panels */
  width: 60%;
  z-index: 0; /* Send center panel to the back */
  display: flex;
  flex-direction: row;
}

#prompt, #negative, #generate, #layers {
	width: 100%;
}

#prompt, #negative {
	resize: vertical;
    outline: none;
	background-color: #445044;
	color: white;
}

#negative {
	background-color: #504444;
}

#layers {
	background-color: transparent;
	color: white;
}

input[type="button"] {
  font-size: 18px; /* Increase font size */
  font-weight: bold; /* Use bold font weight */
  font-family: sans-serif; /* Use a sans-serif font */
}

#center-right {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

#canvas-container {
	padding-top: 5px;
	height: 100%;
	width: 100%;
}
canvas {
  border: 1px solid black;
}

.toolbar {
  display: flex;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #555;
}

.vertical {
  padding: 55px 10px;
  flex-direction: column;
  width: 40px;
}

.horizontal {
  padding: 5px 0px;
  flex-direction: row;
  height: 40px;
}

.toolbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #444;
  color: white;
  text-align: center;
}

.selected {
  background-color: #6f9d6f; /* Lighter background color for selected button */
}

.toolbar-separator {
    border-bottom: 2px solid transparent;
}

.toolbar-label {
}
