<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" type="text/css" href="/static/css/style.css?v={{ cache_busting_param }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <title>Vision Quest</title>
</head>
<body>
	<div class="container">
	  <div class="left">
		<h1>Vision Quest</h1>
		<textarea id="prompt" rows=8 placeholder="Enter prompt...">A fire breathing dragon made out of cardboard</textarea>
		<textarea id="negative" rows=8 placeholder="Enter negagive prompt...">house</textarea>
		<input type="button" id="generate" value="Generate" onclick="generate()"></input>
		<HR>
		<div class="container-slider">
			<label for="steps-slider">Steps</label>
			<input type=range id="steps-slider" min=1 max=150 value=20></input>
			<label id="steps-label">20</label>
		</div>
		<div class="container-slider">
			<label for="guidance-slider">Prompt</label>
			<input type=range id="guidance-slider" min=0.1 max=20 value=7.5 step=0.1></input>
			<label id="guidance-label">7.5</label>
		</div>
		<div class="container-slider">
			<label for="noise-slider">Noise</label>
			<input type=range id="noise-slider" title="Noise Strength" min=0 max=100 value=80></input>
			<label id="noise-label">80</label>
		</div>
		<hr>
		<div class="container-text-button">
			<input type='text' id='model_id' value={{ model_id }}>
			<div class="toolbar-button" onclick="changeModel()">
				<i class="fas fa-exchange-alt"></i>
			</div>
		</div>
	  </div>
	  <div class="center" id="center-panel">
		<div class="toolbar vertical">
			<div class="toolbar-button draw-group" id="move-button" data-tool="move">
			  <i class="fas fa-arrows-alt"></i>
			</div>
			<div class="toolbar-button draw-group selected" id="brush-button" data-tool="brush">
			  <i class="fas fa-paint-brush"></i>
			</div>
			<div class="toolbar-button draw-group" id="mask-button" data-tool="mask">
			  <i class="fas fa-mask"></i>
			</div>
			<div class="toolbar-button draw-group" id="eraser-button" data-tool="eraser">
			  <i class="fas fa-eraser"></i>
			</div>
			<div class="vertical-toolbar-separator"></div>
			<div class="toolbar-button" id="auto-mask-button" data-tool="auto-mask" onclick="toggleAutoMask()">
			  <i class="fas fa-robot"></i>
			</div>
			<div class="vertical-toolbar-separator"></div>
			<div class="toolbar-button" id="clear-button" data-tool="clear" onclick="clearImage()">
			  <i class="fas fa-trash"></i>
			</div>
		</div>
		<div id="center-right">
			<div class="toolbar horizontal">
				<input type="color" id="brush-color" title="Brush Color" value="#000000">
				<div class="toolbar-slider">
					<div>
					  <i class="fas fa-paint-brush"></i>
					</div>
					<input type=range id="brush-slider" title="Brush Size" min=1 max=150 value=30></input>
					<label class="toolbar-label" id="brush-label">30</label>
				</div>
				<div class="horizontal-toolbar-separator"></div>
				<div class="toolbar-slider">
					<div>
					  <i class="fas fa-mask"></i>
					</div>
					<input type=range id="mask-slider" title="Mask" min=1 max=150 value=30></input>
					<label class="toolbar-label" id="mask-label">30</label>
				</div>
				<input type="color" id="mask-color" title="Mask Color" value="#FF8888">
			</div>
			<div id="canvas-container">
				<canvas id="visCanvas"></canvas>
			</div>
		</div>
	  </div>
	  <div class="right"><select id="layers-list" title="Layers" size=8></select></div>
	</div>
  <script src="/static/js/script.js?v={{ cache_busting_param }}"></script>
  <script src="/static/js/server.js?v={{ cache_busting_param }}"></script>
</body>
</html>
